@model PagedList.IPagedList<Interview.Models.Post>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>@User.Identity.Name</h2>

<div class="row">
    <div class="col-sm-12" id="post-list">
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="row" style="position:relative">
        <div class="col-sm-12 col-md-2 text-center" style="position:relative;top:15px;left:20px">
            <div class="badge" data-toggle="tooltip" title="Views">
                @Html.DisplayFor(m => Model.ElementAt(i).ViewCount)
                <i class="fa fa-eye"></i>
            </div>
            <div class="badge" data-toggle="tooltip" title="Comments">
                @Html.DisplayFor(m => Model.ElementAt(i).Comments.Count)
                <i class="fa fa-comments-o"></i> <br />
            </div>
            <div style="margin-top: 5px; display:block;">
                @Html.DisplayFor(m => Model.ElementAt(i).SelectedCategory)
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <div class="Post">
                <h6>
                    <a href="@Url.Action("Details", "Posts", new { id = Model.ElementAt(i).PostID})">
                        @Html.DisplayFor(m => Model.ElementAt(i).PostTitle)
                    </a>
                </h6>
                <div class="post-info">
                    <p id="post-createdat">Posted on @Html.DisplayFor(m => Model.ElementAt(i).CreatedAt)</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <br/><br/>
            <p class="sm-text">
                <text>@Html.ActionLink("Edit", "Edit", new { id = Model.ElementAt(i).PostID }) |</text>
                <text>@Html.ActionLink("Delete", "Delete", new { id = Model.ElementAt(i).PostID })</text>
            </p>
        </div>
        <div class="col-sm-12">
            @if (i < Model.Count() - 1)
                {
                <text><hr /></text>
            }
        </div>
    </div>

}

    </div>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("UserPost",
    new { page, size = Model.PageSize }))

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}


